<!DOCTYPE html>
<html lang="en">
  ${head}
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
    crossorigin="anonymous"
  />

  <body>
    <h1>Saved Foods</h1>
    <a class="home" href="/"
      ><button type="button" class="btn btn-secondary">
        Back to Search Page
      </button></a
    >

    <div class="food-list">${foods}</div>
    <script src="./list.js"></script>
  </body>
</html>
