.nutrition-facts {
  display: none;
}

.food-img {
  margin-top: 20px;
  border-radius: 50%;
}

h1,
nav,
.nutrition-facts {
  text-align: center;
}

.food-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

a {
  display: block;
  margin-top: 20px;
}

.home {
  text-align: center;
  margin-bottom: 15px;
}

#instructions {
  margin-top: 5px;
  text-align: center;
}

#link {
  background-color: black;
  color: white;
  display: block;
  margin: auto;
  margin-bottom: 70px;
}

#save-notification {
  color: red;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  background-color: lightgrey;
  width: 100%;
  flex-basis: 10vh;
}

main {
  flex-basis: 85vh;
  width: 100%;
}

footer {
  text-align: center;
  background-color: black;
  color: white;
  width: 100%;
  flex: 5vh;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}
